body {
    margin: 0px;
    width: 100%;
    padding: 0px;
  }
  
  .nav {
    padding: 20px;
    text-align: right;
  }
  
  .nav-link {
    margin-left: 20px;
  }
  section {
    margin-top: 10%;
    text-align: center;
  }
  button {
      width: 20%;
      height: 45px;
  }
  input {
      height: 50px;
      width: 25%;
  }
  img {
    width: 400px;
    height: auto;
    cursor: pointer;
  }
  
  input {
    width: 600px;
    height: 45px;
    font-size: 20px;
    box-shadow: none;
    padding-left: 60px;
    margin-bottom: 25px;
    border-radius: 25px;
    border: 1px solid rgb(223, 223, 223);
  }
  
  input:focus {
    border: 1px solid white;
    outline: 0px solid white;
    box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
  }
  
  input:hover {
    border: 1px solid white;
    outline: 0px solid white;
    box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
  }
  
  .buttons {
    width: 100%;
    margin-top: 5px;
    box-align: left;
    display: inline-block;
  }
  
  button {
    margin: 5px;
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #5d5d5d;
    border-radius: 5px;
    background-color: #eeeeee;
  }
  
  button:hover {
    color: black;
    border: 0.5px solid #bfbfbf;
    box-shadow: 0px 0.5px 2px 1px rgb(223, 223, 223);
  }
  
  .mic {
    top: 5px;
    width: 24px;
    left: -50px;
    height: 24px;
    position: relative;
  }
  
  .search {
    top: 35px;
    right: 300px;
    position: relative;
  }
  body {
    margin: 0px;
    height: 100%;
    display: flex;
    font-size: 13px;
    flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .languages-header > a {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
  }
  
  footer {
    position:absolute;
    bottom: 0 ;
    width: 100%;
  }
  
  footer > div {
    padding: 15px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
  }
  
  footer * a {
    margin-left: 25px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .second {
    display: flex;
  }
  
  .left {
    flex: 1;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .input {
      position: relative;
      
  }
  .fas .fa-search {
      
      position: absolute;
      padding-left: 0/px;
      
      
  }
  .fas .fa-keyboard {
      
      position: absolute;
      padding-right: 0;
      
  }
  