
nav{
    color: white;
    height: 60px;
    background-color: aqua;
}
section{
    height: 90%;
    background-color: white;
}
footer{
    height: 5%;
    background-color: white;
}
.container {
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
  }
  .container > .ul {
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left:0;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
  .ul > li {
      color : red;
  }
  
  .spotify-logo {
      margin-top: 50px;
      width: 200px;
      height:100px;
  }
  section .container{
    flex-direction: column;
    justify-content: center;
  }
  .first-button{
     
      width: 420px;
      border-radius: 550px;
      line-height: 1;
      height: 70px;
      color:white;
      background-color:#425df5;
      font-weight: 1000;
      border: 0px;
      
  }
  .first-button:hover {
      color: black;
    cursor: pointer;
    background-color:gray;
  }
  #title{
      font-weight: 900;
  }

  .box{
      
      line-height: 30px;
      height: 50px;
      width: 500px;
  }
 #q1 {
     
     font-weight: 900;
 }
 section .container .ul{
     color:white;
 }
 .a {
     color:green;
 }
 .day-box {
     width: 100px;
     height:50px;
 }


 #month{
    width: 300px;
    height:50px;
}
.year-box {
    width: 100px;
    height:50px;
}
.second-button {
    width: 420px;
      border-radius: 550px;
      line-height: 1;
      height: 70px;
      color:white;
      background-color:#425df5;
      font-weight: 1000;
      border: 0px;
}
.second-button:hover {
    color: black;
  cursor: pointer;
  background-color:gray;
}
footer .container{
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
}
.check-box{
    display: flex;
  justify-content: center;
  

    width:50%;
}
.nu-box{
    margin-left: 100px;
}
.third-box{
    margin-left: 100px;
}