
nav{
    color: white;
    height: 60px;
    background-color: aqua;
}
section{
    height: 90%;
    background-color: white;
}
footer{
    height: 5%;
    background-color: white;
}
.container {
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
  }
  .container > ul {
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .ul > li {
      color : red;
  }
  .spotify-logo {
      margin-top: 50px;
      width: 200px;
      height:100px;
  }
  section .container{
    flex-direction: column;
    justify-content: center;
  }
  .first-button{
     
      width: 420px;
      border-radius: 550px;
      line-height: 1;
      height: 70px;
      color:white;
      background-color:#425df5;
      font-weight: 1000;
      border: 0px;
      
  }
  .first-button:hover {
      color: black;
    cursor: pointer;
    background-color:gray;
  }
  #title{
      font-weight: 900;
  }

  .box{
      background-color: gray;
      line-height: 30px;
      height: 50px;
      width: 500px;
  }
 #q1 {
     align-items:unset;
     font-weight: 900;
 }
 section .container .ul{
     color:white;
 }
 .ul .li .a {
     color:green;
 }
 .q2